<!-- ========================
NAVBAR SECTION
Includes the main navigation bar component
======================== -->
<div id="navbar">
  <app-navbar></app-navbar>
</div>

<!-- ========================
HOME SECTION
Displays the home component with main banner or intro
======================== -->
<div id="home">
  <app-home></app-home>
</div>

<!-- ========================
CATEGORY SECTION
Shows product categories using the category component
======================== -->
<div id="category">

  <app-category></app-category>
</div>

<!-- ========================
PRODUCTS SECTION
Displays all products and sale boxes using the products component
======================== -->
<div id="products">
  <app-products></app-products>
</div>

<!-- ========================
ABOUT SECTION
/======================== -->
<div id="about">
  <app-about></app-about>
</div>