.box{
    margin: auto;
    width: 75%;
display: flex;
align-items: center;
justify-content: space-between;


   
}


.right-box{
    width:450px;
    height: 500px;
    border-start-start-radius: 50px;
        border-top-left-radius: 50px;
  border-radius: 30px 50px 50px 100px;

}
.right-box img{
 
   width: 100%;
   height: 100%;
   object-fit: contain;
   z-index: 0;
}
.left-box{
   width: 600px;
   height: 500px;
    position: relative; /* لجعل الصورة absolute */

   display: flex;
   flex-direction: column;   /* يخليهم تحت بعض */
   justify-content: center;  /* بالنص عامودي */
   align-items: start;      /* بالنص أفقي */

   direction: rtl;           
   text-align: right;        
   padding: 20px;

}
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;   /* مثل background-size: contain */
    z-index: 0;            /* خلف النص */
    filter: blur(5px);     /* الغباش */
}
.left-box h2{
    
    margin-top: 200px;
      font-family: 'El Messiri', sans-serif;
        font-weight: bold;
        font-size: 35px;
          color: #935027;
    z-index: 1;              /* فوق الصورة */

}
.left-box p {
      font-family: "Baloo Bhaijaan 2", sans-serif;
    z-index: 1;              /* فوق الصورة */

}



.arrow {
position: relative;
bottom: 60%;
right: 95%;
    width: 200px;
    height: 200px;
}
@media (max-width: 768px) {
    .box {
        flex-direction: column;  /* ترتيب عمودي */
        align-items: center;     
        width: 90%;
    }

    .left-box, .right-box {
        width: 100%;            
        height: auto;           
    }

    .right-box img {
        width: 100%;
        height: auto; 
             
    }

    .left-box {
        text-align: center;      
        align-items: center;     
        padding: 10px;
        order: 1;  /* النص أول */
    }

    .right-box {
        order: 2;  /* الصورة تحت النص */
        margin-top: 20px;
    }

    .left-box h2 {
        margin-top: 20px;        
        font-size: 28px;         
    }

    .arrow {
        position: relative;
        bottom: 0;
        right: 0;
        width: 150px;
        height: 150px;
        margin-top: 20px;
    }
}
