
<!-- Coffee section container -->
<div class="coffee-container">

  <!-- Coffee text -->
  <div class="coffee-text text-end" #coffeeText>
    <h2>{{ typedHeading2 }}</h2>
    <h1>{{ typedHeading1 }}</h1>
  </div>

  <!-- Coffee image -->
  <div class="coffee-image">
    <img src="assets/images/coffee.png" alt="coffee" />
  </div>

</div>







  

   



<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap" rel="stylesheet">
