

/* Coffee section container */
.coffee-container {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}

/* Coffee image */
.coffee-image img {
  width: 500px;
  height: auto;
  position: relative;
  bottom: 80px;
  left: 20%;
  content: url("/assets/images/coffee.png");
}
/* Coffee text container */
.coffee-text {
  color: black;
  position: relative;
  bottom: 20px;
  left: 120px;

  width: 500px;      
  height: 200px;     
  overflow: hidden;  
}
/* Coffee text h2 */
.coffee-text h2 {
  font-family: 'El Messiri', sans-serif;
  font-weight: 500;
  font-size: 50px;
}

/* Coffee text h1 */
.coffee-text h1 {
  font-family: 'El Messiri', sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #935027;
}


/* Responsive styles for screens 375px to 915px */
@media (min-width: 375px) and (max-width: 915px) {

  /* Coffee image for small screens */
  .coffee-image img {
    content: url("/assets/images/coffee1.png");
    width: 300px;
    position: relative;
    bottom: 200px;
    left: 0px;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s ease;
    
  }

  

  /* Coffee container layout for small screens */
  .coffee-container {
    flex-direction: column;
    align-items: center;
  }

  /* Coffee text positioning for small screens */
  .coffee-text {
    width: 80%;
    position: relative;
    top: 350px;
    left: 0;
    text-align: center;
  }

  /* Coffee h2 font size for small screens */
  .coffee-text h2 {
    font-size: 36px;
  }

  /* Coffee h1 font size for small screens */
  .coffee-text h1 {
    font-size: 28px;
  }
}