<!-- Categories title -->
<div class="categories-title text-center">
</div>

<!-- Categories section -->
<div class="categories">

  <!-- Section header -->
  <h1>فئات المنتجات</h1>

  <!-- Categories container -->
  <div class="category-container">

    <!-- Category 1 -->
    <div class="category-box">
      <img src="assets/images/category1.png" alt="Coffee" />
      <h3>روبوستا</h3>
      <h6>قوية ومرة قليلاً.</h6>
    </div>

    <!-- Category 2 -->
    <div class="category-box">
      <img src="assets/images/category2.png" alt="Coffee" />
      <h3>أرابيكا</h3>
      <h6>ناعمة ونكهة غنية</h6>
    </div>

    <!-- Category 3 -->
    <div class="category-box">
      <img src="assets/images/category3.png" alt="Coffee" />
      <h3>ليبيركا</h3>
      <h6>نكهة فريدة.</h6>
    </div>

    <!-- Category 4 -->
    <div class="category-box">
      <img src="assets/images/category4.png" alt="Coffee" />
      <h3>اكسيلا</h3>
      <h6>تُستخدم أحيانًا للخلطات</h6>
    </div>

  </div>
</div>