/* styles.css */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F9E7B0; 
}

app-root {
  display: block;
  min-height: 100%;
  background-color: #F9E7B0; 
}
